body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.streaming-services li {
    transition: color 0.7s ease;
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
}

.streaming-services li:hover {
    color: #ee3030;
}


.parent {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ccc;
}


.parent-1 .child {
    color: red;
}


.parent-2 {
    color: orange;
    
}


.parent-2 .child {
    color: #b4005a;
    border: 2px dashed orange; 
}


.parent-2 ~ .parent-3 {
    color: green;
}

.parent-2 ~ .parent-3 .child {
    color: green;
}


.parent-3:not(.parent-2 ~ .parent-3) {
    color: initial;
}

.parent-3:not(.parent-2 ~ .parent-3) .child {
    color: initial;
}


.parent-3 .guest {
    color: purple !important;
    border: none !important;
}


.programming-languages a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
    position: relative;
}


.programming-languages a:after {
    content: "🌐";
    font-size: 0.9em;
}


.programming-languages a:hover {
    color: #26dee4;
}


.programming-languages:after {
    content: "";
    display: block;
    margin-top: 15px;
    padding: 20px 20px 20px 20px;
    background-color: #1e2963;
    border-left: 4px solid #0056b3;
    background-image: url("https://ssau.ru/i/logo/logo-white-ru.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 150px 40px;
    border-radius: 5px;
    
}

